<%-include('../cabecalho.ejs')%>


<header>
 <h3>ingresso adicionado com sucesso!</h3>
</header>
<div class="content">
 <p><strong>assento:</strong> <%= assento %></p>
 <p><strong>nome_comprador:</strong>  <%= nome_comprador %></p>
 <p><strong>numero_ingresso:</strong> <%= numero_ingresso %> </p>
 <p><strong>valor:</strong> <%= valor %></p>
</div>

<%-include('../rodape.ejs')%>