<%-include('../cabecalho.ejs')%>


<header>
 <h3>sala adicionado com sucesso!</h3>
</header>
<div class="content">
 <p><strong>numero:</strong> <%= numero %></p>
 <p><strong>capacidade:</strong>  <%= capacidade %></p>
 <p><strong>tipo:</strong> <%= tipo %> </p>
</div>

<%-include('../rodape.ejs')%>