<%-include('../cabecalho.ejs')%>
  <header>
    <h3>Editar sala</h3>
  </header>
  <div class="content">
    <form id="form-sala" method="post" autocomplete="off">
      <div class="grid">
        <div>
          <label for="nome">ID da sala</label>
          <input id="id" value="<%=sala.id%>" name="id" type="text" placeholder="Ex:Gope" required>
        </div>
        <div>
          <label for="nome">numero da sala</label>
          <input id="numero" value="<%=sala.numero%>" name="numero" type="text" placeholder="Ex:Gope" required>
        </div>
        <div>
          <label for="nome">capacidade da sala</label>
          <input id="capacidade" value="<%=sala.capacidade%>" name="capacidade" type="text" placeholder="Ex:Gope" required>
        </div>
        <div>
          <label for="nome">tipo</label>
          <input id="tipo" value="<%=sala.tipo%>" name="tipo" type="text" placeholder="Ex:Gope" required>
        </div>
        <div class="field-help">Os campos com * são obrigatórios.</div>
        <footer>
          <a type="button" class="btn ghost" id="btn-cancelar" href="/sala/lst">Cancelar</a>
          <button type="submit" class="btn primary">Editar sala</button>
        </footer>
    </form>
  </div>

  <%-include('../rodape.ejs')%>