<%-include('../cabecalho.ejs')%>


<header>
 <h3>filme adicionado com sucesso!</h3>
</header>
<div class="content">
 <p><strong>titulo:</strong> <%= titulo %></p>
 <p><strong>duracao:</strong>  <%= duracao %></p>
 <p><strong>genero:</strong> <%= genero %> </p>
 <p><strong>classificacao:</strong> <%= classificacao %></p>
</div>

<%-include('../rodape.ejs')%>