<%-include('../cabecalho.ejs')%>

<header>
 <h3>sessao adicionado com sucesso!</h3>
</header>
<div class="content">
 <p><strong>sala:</strong> <%= sala %></p>
 <p><strong>data_hora:</strong>  <%= data_hora %></p>
 <p><strong>preco:</strong> <%= preco %> </p>
 <p><strong>filme_titulo:</strong> <%= filme_titulo %></p>
</div>

<%-include('../rodape.ejs')%>